{% extends 'accueil/index5.html' %}
{% block content %}
<div class="container-fluid">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
          <th>Jacob</th>
          <th>Thornton</th>
          <th>@fat</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
            <td>Thornton</td>
          <td>@fat</td>
            <td>Thornton</td>
          <td>@fat</td>
             <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
            <td>Thornton</td>
          <td>@fat</td>
            <td>Thornton</td>
          <td>@fat</td>
             <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
      </tbody>
    </table>
    {% endblock %}
</div>


